h1 {
    font-family: 'Berkshire Swash', cursive;
    color: turquoise;
    text-align: center;


}

body {
    background-color: black;

}
.gameinfo{
    text-align: center;
    font-family: 'Berkshire Swash', cursive;
    color: turquoise;
    font-size: 20px;
    
}

.categories{
display: flex;
justify-content: space-between;

}

.sports{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
   
}
div{
    margin: 0px 40, 40, 0;
    font-size: 16px;
    display: flex;
    justify-content: center;
}

.history{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }

    .music { 

        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }

.movies {

    display: flex;
        flex-direction: column;
        justify-content: space-around;
    }
.jeopradyboard {
    display: flex;
    text-align: center;
    background-color: rgba(25, 25, 255, .3);
}
.question {
    border: solid black;
    padding: 40px 60px;
    border-radius: 50%;
    font-size: 18px;
    background-color: salmon;
    font-family: 'Berkshire Swash', cursive;
    font-family: 'Righteous', cursive;
   
}
.question2{
    border: solid black;
    border-radius: 45%;
    padding: 40px;
    font-size: 18px;
    background-image: url("http://www.bradwalker.org/assets/images/close-button.png");
    background-size: 100%;
    font-family: 'Berkshire Swash', cursive;
    font-family: 'Righteous', cursive;
}

.question3{
    border: solid black;
    padding: 40px;
    border-radius: 45%;
    font-size: 18px;
    background-image: url("https://rlv.zcache.com/green_check_mark_symbol_card-r8dede8dbb12d4d16a26eb4f2a805557d_zk9yv_324.jpg?rlvnet=1");
    background-size: 100%;
    font-family: 'Berkshire Swash', cursive;
    font-family: 'Righteous', cursive;
}

.finalquestion{
    display: flex;
    justify-content: center;
    color:turquoise;
    border: solid;
    font-size: 30px;
    
}

.playerscore{
    font-family: 'Berkshire Swash', cursive;
font-family: 'Righteous', cursive;
font-family: 'Rammetto One', cursive;
font-size: 30px;
color:turquoise
}

.sports > h1{
    font-size: 24px;
}
.history > h1{
    font-size: 24px;
}

.music > h1{
    font-size: 24px;
}
.movies > h1{
    font-size: 24px;
}

.alert { 
    font-size: 50px;
}