h1 {
    font-family: 'Berkshire Swash', cursive;
    color: turquoise;
    text-align: center;


}

body {
    background-color: black;

}
.gameinfo{
    text-align: center;
    font-family: 'Berkshire Swash', cursive;
    color: turquoise;
    font-size: 18px;
}

.categories{
display: flex;
justify-content: space-between;

}

.sports{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
   
}
div{
    margin: 0px 40, 40, 0;
    font-size: 16px;
    display: flex;
    justify-content: center;
}

.history{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }

    .music { 

        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }

.movies {

    display: flex;
        flex-direction: column;
        justify-content: space-around;
    }
.jeopradyboard {
    display: flex;
    text-align: center;
    background-color:
}
.question{
    border: solid black;
    padding: 40px;
    font-size: 18px;
    background-color: salmon;
    font-family: 'Berkshire Swash', cursive;
    font-family: 'Righteous', cursive;
}

.finalquestion{
    display: flex;
    justify-content: center;
    color:turquoise;
    border: solid;
    font-size: 30px;
    
}

.playerscore{
    font-family: 'Berkshire Swash', cursive;
font-family: 'Righteous', cursive;
font-family: 'Rammetto One', cursive;
font-size: 20px;
color:turquoise
}

.sports > h1{
    font-size: 24px;
}
.history > h1{
    font-size: 24px;
}

.music > h1{
    font-size: 24px;
}
.movies > h1{
    font-size: 24px;
}

